body {
    margin: 0;
    padding: 0;
}

button, select, input, label {
    font-size: 18pt;
}

.controlPanel {
    width: 70%;
    margin: 0 15% 0 15%;
}

.settings {
}

.processSelect {
    padding: 4px;
    margin: 10px;
}

.parameters {
    margin: 5px;
}

.paramGroup fieldset {
    min-height: 10vh;
}

.controlBox {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.controlBtn {
    padding: 5px;
    margin: 5px;
}

#startBtn {
    flex: 60%;
}

#clearBtn {
    flex: 20%;
}

#abortBtn {
    flex: 20%;
}

.consoleContainer {
    display: flex;
    width: 90%;
    margin: 0 5% 0 5%;
    padding: 10px;
}

.console {
    border: 2px solid black;
    width: calc(100% - 10px - 20px);
    min-height: 60vh;
    padding: 5px;
}